<html>
    <head>
      <title>Home page</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    </head>
    <body>
      <div>
        <h1> HOME </h1>
      </div>
      <div class ="container">
        <a class="button" id = "projects" href = "http://localhost:8000/projects"> My projects </a>
        <a class="button" id = "about" href = "http://localhost:8000/about"> About me </a>
        <a class="button" id = "contact" href = "http://localhost:8000/contact"> Contact me </a>
      </div>
    </body>
</html>
